.container{
  position: absolute;
  padding: 50px;
  border : 1px solid;
  top:70%;left:50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);

}
#cat{
  position: absolute;

  border : 1px solid;
  top:20%;left:50%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
    .container {
      position: absolute;
      padding: 50px;
      border : 1px solid;
      top:70%;left:50%;
      box-sizing: border-box;
      transform: translate(-50%, -50%);
 
    }
  }